<div class="main-token-balance">
  <div class="list-group token-balance">
    <a
      class="list-group-item"
      href="javascript:void(0)"
      (click)="openSolanaWalletConnectorModal()"
    >
      <i class="fa fa-fw fa-wallet"></i>
      <b>{{
        userDetails?.solanaWalletAddress
          ? ("Update Wallet" | translate)
          : ("Link Wallet" | translate)
      }}</b>
    </a>
  </div>
  <div
    class="list-group token-balance"
    *ngIf="
      sentinelTraderBotTokenValue != null &&
      userDetails?.solanaWalletAddress != null
    "
  >
    <span class="list-group-item">
      {{ sentinelTraderBotTokenValue | number : "1.2-2" }}
      <img src="favicon.ico" width="16px" referrerpolicy="no-referrer" />
      {{ tokenSymbol }}
    </span>
  </div>
</div>
